<div class="section-container">

  <h2>Interpolation</h2>

  <p>You can find the code for this portion in src/app/components/interpolation, where you should only be modifying
    the interpolation.component.html and interpolation.component.ts files. and We will be referring to Interpolation as
    the process of binding a Variable in the Component's TypeScript file onto the site, by linking to that variable from
    HTML. Using the syntax shown below in the component's HTML file will bind a variable that exists in the
    property-binding.component.ts file. The variable will always match what the current value is in TypeScript.</p>
  <p>{{tsVariable1}}</p>

  <div class="todo-container">
    <p>TODO: bind the variable tsVariable2 to the site below.</p>
    <p>replace this text with the bound variable.</p>
  </div>

</div>