<h1>Binding</h1>

<p>Binding will be our term for directly linking HTML and TypeScript code together. Within Angular,
we no longer have direct access to the JavaScript DOM, and we interact with the DOM in an abstracted
and ultimately simpler way.</p>

<p>Check out the .html and .ts files in the event-binding, property-binding, and two-way-binding components in
the components folder to continue solving the labs.</p>

<app-interpolation></app-interpolation>
<app-event-binding></app-event-binding>
<app-property-binding></app-property-binding>
<app-two-way-binding></app-two-way-binding>

<div>
    <a href = "https://angular.io/guide/binding-syntax">https://angular.io/guide/binding-syntax</a>
</div>
